{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% set page_content_classes = [
  'page-content',
  node ? 'page-content--node',
  webform ? 'page-content--webform',
  not node.isPublished() ? 'page-content--unpublished',
]
%}

{%
  set section_variables = has_background
    ? { section_element: 'content', section_modifier: 'colored' }
    : { section_element: 'content' }
%}

<div class="page-wrapper" id="page">
  <div class="sticky-main">
    {% if page.header or page.navigation %}
      <header class="page-header" id="header" role="banner">
        {% if page.header %}
          <div class="container page-header__container">
            {{ page.header }}
            <button id="search-trigger" aria-label="{{ 'Open search'|t }}" class="search-button search-button--open">
              {% if icons_path %}
                <svg aria-labelledby="open-search" class="icon">
                  <title id="open-search">{{ 'Open search'|t }}</title>
                  <use xlink:href="{{ icons_path|trim }}#search"/>
                </svg>
              {% else %}
                {{ 'Search'|t }}
              {% endif %}
            </button>
            <button id="menu-trigger" aria-label="{{ 'Open navigation'|t }}" class="menu-button menu-button--open">
              {% if icons_path %}
                <svg aria-labelledby="open-navigation" class="icon">
                  <title id="open-navigation">{{ 'Open navigation'|t }}</title>
                  <use xlink:href="{{ icons_path|trim }}#menu"/>
                </svg>
              {% else %}
                {{ 'Menu'|t }}
              {% endif %}
            </button>
          </div>
        {% endif %}
      </header>
      {% if page.navigation %}
        <div class="page-navigation" id="navigation">
          <div class="container page-navigation__container">
            {{ page.navigation }}
          </div>
        </div>
        {% if node and not node.isPublished() and logged_in %}
          <div class="page-flag is-unpublished">{{ 'Unpublished'|t }}</div>
        {% endif %}
      {% endif %}

    {% endif %}

    {% if page.announcement %}
      <div class="page-announcement" id="announcement">
        <div class="container page-announcement__container">
          {{ page.announcement }}
        </div>
      </div>
    {% endif %}

    <div class="has-background">
      {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}

      {% block content_wrapper %}

        {% if has_sidebar_first and page.breadcrumb %}
          {% embed "@suomidigi/misc/container.twig" with {container_element: 'breadcrumb'} %}
            {% block container_content %}
              {{ page.breadcrumb }}
            {% endblock container_content %}
          {% endembed %}
        {% endif %}

        <div class="content__wrapper container">
          {% if has_sidebar_first %}
            <aside class="sidebar sidebar--first" id="sidebar-first" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          {% endif %}

          <main class="page-main" id="main" role="main">
            <a id="main-content" tabindex="-1"></a>
            {% if page.before_content %}
              {% block before_content %}
              <div class="page-before_content page-before_content--{{ before_content_element }}" id="before_content">
                <section class="section section--before-content">
                  {{ page.before_content }}
                </section>
              </div>
              {% endblock %}
            {% endif %}

            {% if not has_sidebar_first and page.breadcrumb %}
              {% embed "@suomidigi/misc/container.twig" with {container_element: 'breadcrumb'} %}
                {% block container_content %}
                  {{ page.breadcrumb }}
                {% endblock container_content %}
              {% endembed %}
            {% endif %}

            {% if page.messages %}
              <div class="page-messages" id="messages">
                <div class="container page-messages__container">
                  {{ page.messages }}
                </div>
              </div>
            {% endif %}

            {% if page.tools %}
              {% embed "@suomidigi/misc/container.twig" with {container_element: 'tools'} %}
                {% block container_content %}
                  {{ page.tools }}
                {% endblock container_content %}
              {% endembed %}
            {% endif %}

            {% block content %}
              <div id="content" {{ create_attribute({'class': page_content_classes} ) }}>
                {% embed "@suomidigi/misc/section.twig" with section_variables %}
                  {% block section_content %}
                    {{ page.content }}
                  {% endblock section_content %}
                {% endembed %}
              </div>
            {% endblock %}

            {% if page.after_content %}
              <div class="page-after_content" id="after_content">
                <section class="section section--after-content">
                  {{ page.after_content }}
                </section>
              </div>
            {% endif %}
          </main>
        </div>
      {% endblock %}
    </div>
  </div>
  <div class="page-before-footer" id="before-footer" role="contentinfo">
    <div class="page-before-footer__container l-footer {% if has_sidebar_first %}l-before-footer--small{% endif %}">
      {% if page.before_footer %}
        {{ page.before_footer }}
      {% endif %}
    </div>
  </div>

  {% if page.footer %}
    <footer class="page-footer" id="footer" role="contentinfo">
      {% set footer_container_class = 'l-footer page-footer' %}
      {% if has_sidebar_first %}
        {% set footer_container_class = 'l-footer--small ' ~ footer_container_class %}
      {% endif %}
        {% embed "@suomidigi/misc/container.twig" with {container_element: footer_container_class} %}
          {% block container_content %}
            {{ page.footer }}
          {% endblock container_content %}
        {% endembed %}
    </footer>
  {% endif %}

  <div class="page-after-footer" id="after-footer" role="contentinfo">
    {% set footer_container_class = 'l-footer page-after-footer' %}
    {% if has_sidebar_first %}
      {% set footer_container_class = 'l-after-footer--small ' ~ footer_container_class %}
    {% endif %}
    {% embed "@suomidigi/misc/container.twig" with {container_element: footer_container_class} %}
      {% block container_content %}
        <div class="link--footer-wrapper">
          <div class="link--footer dvv">
            {% if language.getId() == 'en' %}
              {% set dvv_url = 'https://dvv.fi/en' %}
              {% set dvv_image = '/themes/custom/suomidigi/images/dvv-en.png' %}
              {% set dvv_title = 'Digital and Population Data Services Agency' %}
            {% elseif language.getId() == 'sv' %}
              {% set dvv_url = 'https://dvv.fi/sv' %}
              {% set dvv_image = '/themes/custom/suomidigi/images/dvv-sv.png' %}
              {% set dvv_title = 'Myndigheten för digitalisering och befolkningsdata' %}
            {% else %}
              {% set dvv_url = 'https://dvv.fi' %}
              {% set dvv_image = '/themes/custom/suomidigi/images/dvv-fi.png' %}
              {% set dvv_title = 'Digi- ja väestötietovirasto' %}
            {% endif %}
            <a href="{{ dvv_url }}" target="_blank"><img src="{{ dvv_image }}" alt="{{ dvv_title }}" /></a>
          </div>
          <div class="link--footer link--pushed">
            {% if icons_path %}
              <svg aria-labelledby="open-suomidigi" class="icon icon--twitter">
                <title id="open-suomidigi">{{ 'Suomidigi twitter'|t }}</title>
                <use xlink:href="{{ icons_path|trim }}#twitter-logo"/>
              </svg>
            {% endif %}
            {{ link('Suomidigi', 'https://twitter.com/suomidigi') }}
          </div>
          <div class="link--footer">
            {% if icons_path %}
              <svg aria-labelledby="open-suomidigi-developers" class="icon icon--slack">
                <title id="open-suomidigi-developers">{{ 'Open Suomidigi developers'|t }}</title>
                <use xlink:href="{{ icons_path|trim }}#slack"/>
              </svg>
            {% endif %}
            {{ link('Suomidigi developers'|t, 'https://suomidigi-kehittajat.slack.com') }}
          </div>
        </div>
      {% endblock container_content %}
    {% endembed %}
  </div>
</div>

{% if page.mobile_navigation %}
  <div class="page-mobile_navigation" id="mobile_navigation">
    <div class="container page-mobile_navigation__container">
      {{ page.mobile_navigation }}
    </div>
  </div>
{% endif %}
