{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% set page_content_classes = [
  'page-content',
  'page--landing-page',
  'container',
  node ? 'page-content--node',
  not node.isPublished() ? 'page-content--unpublished',
]
%}

{% embed "@suomidigi/layout/page.html.twig" with {before_content_element: 'landing-page'} %}
  {% block content_wrapper %}
    {% if page.tools %}
      {% embed "@suomidigi/misc/container.twig" with {container_element: 'tools'} %}
        {% block container_content %}
          {{ page.tools }}
        {% endblock container_content %}
      {% endembed %}
    {% endif %}
    {% if page.before_content %}
      {% block before_content %}
        <div class="page-before_content page-before_content--{{ before_content_element }}" id="before_content">
          <section class="section section--before-content">
            {{ page.before_content }}
          </section>
        </div>
      {% endblock %}
    {% endif %}

    {% if page.messages %}
      <div class="page-messages" id="messages">
        <div class="container page-messages__container">
          {{ page.messages }}
        </div>
      </div>
    {% endif %}

    {% if has_sidebar_first %}
      {% if page.breadcrumb %}
        {% embed "@suomidigi/misc/container.twig" with {container_element: 'breadcrumb'} %}
          {% block container_content %}
            {{ page.breadcrumb }}
          {% endblock container_content %}
        {% endembed %}
      {% endif %}
      <div class="content__wrapper container">
        <aside class="sidebar sidebar--first" id="sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
    {% endif %}

      <main class="page-main page-main--landing-page" id="main" role="main">
        <a id="main-content" tabindex="-1"></a>
        {% if not has_sidebar_first and page.breadcrumb %}
          {% embed "@suomidigi/misc/container.twig" with {container_element: 'breadcrumb'} %}
            {% block container_content %}
              {{ page.breadcrumb }}
            {% endblock container_content %}
          {% endembed %}
        {% endif %}

        {% block content %}
          <div class="container">
            <div id="content" {{ create_attribute({'class': page_content_classes} ) }}>
              {% embed "@suomidigi/misc/section.twig" with section_variables %}
                {% block section_content %}
                  {{ page.content }}
                {% endblock section_content %}
              {% endembed %}
            </div>
          </div>
        {% endblock %}

        {% if page.after_content %}
          <div class="page-after_content" id="after_content">
            <section class="section section--after-content">
              {{ page.after_content }}
            </section>
          </div>
        {% endif %}
      </main>
    {% if has_sidebar_first %}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
