{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{%
  set classes = [
  'block',
  'shortcuts--' ~ derivative_plugin_id|replace({'suopa_shortcuts':''})|clean_class,
  'shortcuts--' ~ elements['#id']|replace({'suopa_shortcuts_block_':''})|clean_class,
]
%}
{% set heading_id = attributes.id ~ '-shortcuts'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {% embed "@suomidigi/misc/container.twig" with {container_element: 'shortcuts'} %}
    {% block container_content %}
      {# Label. If not displayed, we still provide it for screen readers. #}
      {% if not configuration.label_display %}
        {% set title_attributes = title_attributes.addClass('visually-hidden') %}
      {% endif %}
      {{ title_prefix }}
      <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ label }}</h2>
      {{ title_suffix }}

      {# Menu. #}
      {% block content %}
        {{ content }}
      {% endblock %}
    {% endblock container_content %}
  {% endembed %}
</nav>
