{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'article',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="article__header">
    {% if content.field_article_type|render %}
      <div class="article__type">
        {{ content.field_article_type }}
      </div>
    {% endif %}
    <div class="article__title">
      <h1>
        {{ label }}
      </h1>
    </div>
    <div class="article__data">
      {% if content.field_displayed_author|render %}
        <span class="article__data-item article__author author__list">
          {{ content.field_displayed_author }}
        </span>
        <div class="content__divider"></div>
      {% endif %}
      <div class="article__data--bottom">
      {% if node.isPublished() and published_at is not empty %}
        <span class="article__data-item article__published">
          {{ published_at|date('j.n.Y - H:i') }}
        </span>
      {% endif %}
      {% if content.field_displayed_update_time|render %}
        <span class="article__data-item article__modified">
          <span class="article__modified-text">{{ 'Updated on'|trans }}</span> <span class="article__modified-date">{{ content.field_displayed_update_time }}</span>
        </span>
      {% endif %}
      {% if content.field_reading_time|render %}
        <span class="article__data-item article__reading">
          <span class="article__reading-time">{{ content.field_reading_time }}</span> <span class="article__reading-text">{{ 'min read'|trans }}</span>
        </span>
      {% endif %}
      </div>
      <div class="flag-wrapper flag--top">
        {{ flag_link }}
      </div>
    </div>
    <div class="article__image">
      {{ content.field_header_image }}
    </div>
    {% if content.field_ingress|render %}
      <div class="article__lead">
        {{ content.field_ingress }}
      </div>
    {% endif %}
  </div>
  <div class="article__content">
    {% if content.field_paragraphs|render %}
      <div class="article__contents">
          {{ content.field_paragraphs }}
      </div>
    {% endif %}
    <div class="article__social-sharing">
      {{ drupal_block('suopa_content_social_sharing_block') }}
      <div class="flag-wrapper flag--bottom">
        {{ flag_link }}
      </div>
    </div>
    {% if content.field_displayed_author_footer|render %}
      <div class="article__author--prominent author author--prominent">
        {{ content.field_displayed_author_footer }}
      </div>
    {% endif %}
    <div class="content__border"></div>
  </div>
  {% if content.field_comments|render %}
    <div class="comments comments__container">
      {{ content.field_comments }}
    </div>
  {% endif %}
</article>
