{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'basic-page',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="basic-page__header">
    <div class="basic-page__title">
      <h1>
        {{ label }}
      </h1>
    </div>
    {% if content.field_ingress|render %}
      <div class="basic-page__lead">
        {{ content.field_ingress }}
      </div>
    {% endif %}
    {% if content.field_displayed_author|render or content.field_displayed_update_time|render %}
    <div class="basic-page__data">
      {% if content.field_displayed_author|render %}
        <span class="basic-page__data-item basic-page__author">
          {{ content.field_displayed_author }}
        </span>
      {% endif %}
      {% if content.field_displayed_update_time|render %}
        <span class="basic-page__data-item basic-page__modified">
          <span class="basic-page__modified-text">{{ 'Updated on'|trans }}</span> <span class="basic-page__modified-date">{{ content.field_displayed_update_time }}</span>
        </span>
      {% endif %}
    </div>
    {% endif %}
    <div class="basic-page__image">
      {{ content.field_header_image }}
    </div>
  </div>
  <div class="basic-page__content">
    {% if content.field_paragraphs|render %}
      <div class="basic-page__contents">
          {{ content.field_paragraphs }}
      </div>
    {% endif %}

  </div>

</article>
