{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'article-prominent',
    'article-prominent--secondary',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="article-prominent__link">
    <div class="article-prominent__image">
      {{ content.field_header_image }}
    </div>
    <div class="article-prominent__content">
      <span class="article-prominent__type">
        {{ content.field_article_type.0 }}
      </span>
      <h2 class="article-prominent__label">
        {{ label.0 }}
      </h2>
      {% if content.field_ingress|render %}
        <p class="article-prominent__lead">
          {{ content.field_ingress.0['#markup'] }}
        </p>
      {% endif %}
    </div>
  </a>
</article>
