{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'basic-page',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="basic-page__header">
    <div class="basic-page__title">
      <h1>
        {{ label }}
      </h1>
    </div>
    {% if content.field_header_image|render %}
      <div class="basic-page__image">
        {{ content.field_header_image }}
      </div>
    {% endif %}
    {% if content.field_ingress|render %}
      <div class="basic-page__lead">
        {{ content.field_ingress }}
      </div>
    {% endif %}
  </div>
  <div class="basic-page__content">
    {% if content.field_paragraphs|render %}
      <div class="basic-page__contents">
          {{ content.field_paragraphs }}
      </div>
    {% endif %}

    {% set hide_updated = content.field_hide_updated_date[0]['#markup'] %}
    {% if hide_updated is same as(0) or hide_updated is empty %}
      <div class="basic-page__data">
        <span class="basic-page__modified-text">{{ 'Updated'|trans }}:</span>
        <span class="basic-page__modified-date">{{ node.getChangedTime()|date('j.n.Y') }}</span>
      </div>
    {% endif %}
  </div>
</article>
