{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
  'community',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

    <div class="community__header">
      <div class="community__icon">
        {% if community_domain_logo is not empty %}
          {{ drupal_image(community_domain_logo, 'large', { alt: community_domain_logo_alt, title: community_domain_logo_title }) }}
        {% else %}
          {% if community_domain_label|first|upper %}
            <span class="community__icon--letter">
            {{ community_domain_label|first|upper }}
          </span>
          {% endif %}
        {% endif %}
      </div>
      <div class="community__domain-wrapper">
        {% if community_domain_domain %}
          <p class="community__domain">
            {{ community_domain_domain }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="community__title-wrapper">
      {% if label %}
        <h2 class="community__title">
          {{ label }}
        </h2>
      {% endif %}
    </div>
    <div class="community__content">
      {{ content.field_community_description }}
    </div>
    <a class="community__cta-wrapper" href="{{ content.field_community_link.0['#url'] }}" target="_blank">
      <div class="community__cta">
        {% if icons_path %}
          <div class="community__cta-icon-left">
            <svg class="icon">
              <title>{{ text }}</title>
              <use xlink:href="{{ icons_path|trim }}#chevron-right"/>
            </svg>
          </div>
        {% endif %}
        <div class="community__cta-content-right">
          <span class="community__cta-text">
            {% trans %}Join the community {{ node.label }}{% endtrans %}
          </span>
          {% if icons_path %}
            <span class="community__cta-icon-right">
              <svg class="icon">
                <title>{{ text }}</title>
                <use xlink:href="{{ icons_path|trim }}#link-external"/>
              </svg>
            </span>
          {% endif %}
        </div>
      </div>
    </a>
</article>
