{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'article-teaser',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="article-teaser__link">
    <div class="article-teaser__image">
      {% if is_full_width %}
        {{ drupal_image(big_liftup_teaser_image, 'article_teaser_header', { alt: big_liftup_teaser_image_alt, title: big_liftup_teaser_image_title }, responsive=true) }}
      {% else %}
        {{ drupal_image(big_liftup_teaser_image, 'article_teaser_header_alternative', { alt: big_liftup_teaser_image_alt, title: big_liftup_teaser_image_title }, responsive=true) }}
      {% endif %}
    </div>
    <div class="article-teaser__content">
      {% if node.isPublished() and published_at is not empty %}
        <div class="article-teaser__data">
          {{ published_at|date('j.n.Y') }}
        </div>
      {% endif %}
      <div class="article-teaser__label-container">
        <h3 class="article-teaser__label">
          {{ label }}
        </h3>
        {% if content.field_ingress|render and is_full_width %}
          <div class="article-teaser__lead">
            {{ content.field_ingress }}
          </div>
        {% endif %}
      </div>
{# TODO: Fix artictle-teaser templates when the FINAL design has been decided. #}
{# <div class="article-teaser__type">#}
{#  {{ content.field_article_type }}#}
{# </div>#}
    </div>
  </a>
</article>
