{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'news-teaser',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="news-teaser__link">
    {% if node.isPublished() and published_at is not empty %}
      <span class="news-teaser__published">
        {{ published_at|date('j.n.Y') }}
      </span>
    {% endif %}
    <div class="news-teaser__content">
      <h3 class="news-teaser__label">
        {{ label }}
      </h3>
      {% if content.field_ingress|render %}
        <div class="news-teaser__lead">
          {{ content.field_ingress }}
        </div>
      {% endif %}
    </div>
  </a>
</article>
