{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'legislation-card',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <div class="legislation-card__header">
    <div class="legislation-card__title">
      {{ label }}
    </div>
  </div>
  <div class="legislation-card__content-wrapper">
    {% if content.field_ingress|render %}
      <div class="legislation-card__lead-wrapper">
        <div class="legislation-card__section">
          {% if icons_path %}
            <svg class="icon">
              <use xlink:href="{{ icons_path|trim }}#section" />
            </svg>
          {% endif %}
        </div>
        <div class="legislation-card__lead">
          {{ content.field_ingress }}
        </div>
      </div>
    {% endif %}
    {% if content.field_legislation_content|render %}
      <div class="legislation-card__content">
        {{ content.field_legislation_content }}
      </div>
    {% endif %}
    <div class="legislation-card__data">
      <span class="legislation-card__modified-text">{{ 'Updated'|trans }}:</span>
      <span class="legislation-card__modified-date">{{ node.getChangedTime()|date('j.n.Y') }}</span>
    </div>
    {% if content.field_legislation_materials|render %}
      <div class="legislation-card__support-attachments">
        {{ content.field_legislation_materials }}
      </div>
    {% endif %}
    {% if content.field_attachments|render %}
      <div class="legislation-card__attachments">
        {{ content.field_attachments }}
      </div>
    {% endif %}
  </div>
</article>
