{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'article-teaser',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="article-teaser__link">
    {% if content.field_header_image|render %}
      <div class="article-teaser__image">
        {{ content.field_header_image }}
      </div>
    {% endif %}
    <div class="article-teaser__content">
      <h3 class="article-teaser__label">
        {{ label }}
      </h3>
      {% if content.field_ingress|render %}
        <p class="article-teaser__lead">
          {{ content.field_ingress['0']['#markup'] }}
        </p>
      {% endif %}
    </div>
  </a>
</article>
