{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{% set classes = [
  'community',
  'community-teaser'
] %}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% set link_text = ' ' ~ node.label %}
  {% set link_text = 'Join the community'|t ~ link_text %}
  <a href="{{ content.field_community_link.0['#url'] }}" target="_blank" class="community-teaser__link" title="{{ link_text }}">
    <div class="community-teaser__header">
      <div class="community-teaser__icon">
        {% if community_domain_logo is not empty %}
          {{ drupal_image(community_domain_logo, 'large', { alt: community_domain_logo_alt, title: community_domain_logo_title }) }}
        {% else %}
          {% if community_domain_label|first|upper %}
            <span class="community-teaser__icon--letter">
            {{ community_domain_label|first|upper }}
          </span>
          {% endif %}
        {% endif %}
      </div>
      <div class="community-teaser__domain-wrapper">
        {% if community_domain_domain %}
          <p class="community-teaser__domain">
            {{ community_domain_domain }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="community-teaser__title-wrapper">
      {% if label %}
        <h2 class="community-teaser__title">
          {{ label }}
        </h2>
      {% endif %}
    </div>
    <div class="community-teaser__content">
      {{ content.field_community_description }}
    </div>
    <span class="community__link link--cta">
      {% if icons_path and not exclude_chevron %}
        <div class="link--cta-icon-left">
          <svg class="icon">
            <use xlink:href="{{ icons_path|trim }}#chevron-right"/>
          </svg>
        </div>
      {% endif %}
      <div class="link--cta-content-right">
        <span class="link--cta-text">
          {{ link_text }}
        </span>
        {% if icons_path %}
          <span class="link--cta-icon-right">
            <svg class="icon">
              <title>{{ text }}</title>
              <use xlink:href="{{ icons_path|trim }}#link-external"/>
            </svg>
          </span>
        {% endif %}
      </div>
    </span>
  </a>
</article>
