{#
/**
 * @file
 * Theme override to display a node.
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'basic-page-teaser',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="basic-page-teaser__link">
    {% if big_liftup_teaser_image is not empty %}
      <div class="basic-page-teaser__image">
        {% if is_full_width %}
          {{ drupal_image(big_liftup_teaser_image, 'basic-page_teaser_header', { alt: big_liftup_teaser_image_alt, title: big_liftup_teaser_image_title }, responsive=true) }}
        {% else %}
          {{ drupal_image(big_liftup_teaser_image, 'basic-page_teaser_header_alternative', { alt: big_liftup_teaser_image_alt, title: big_liftup_teaser_image_title }, responsive=true) }}
        {% endif %}
      </div>
    {% endif %}
    <div class="basic-page-teaser__content">
      <div class="basic-page-teaser__label-container">
        <h3 class="basic-page-teaser__label">
          {{ label }}
        </h3>

        {% if content.field_ingress|render and is_full_width %}
          <div class="basic-page__lead">
            {{ content.field_ingress }}
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</article>
