{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'blog-teaser',
    'blog-prominent',
    'blog-prominent--primary',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
  <a href="{{ url }}" class="blog-teaser__link">
    <div class="blog-teaser__image">
    {% if content.field_header_image|render %}
      {{ content.field_header_image }}
    {% else %}
      <img src="/themes/custom/suomidigi/images/header_background_illustration.svg" alt="" />
    {% endif %}
    </div>
    <div class="blog-teaser__content">
      <div class="blog-teaser__date">
        {% if node.isPublished() and published_at is not empty %}
          <span class="blog__data-item blog__published">
           {{ published_at|date('j.n.Y') }}
          </span>
        {% endif %}
        {% if content.field_displayed_update_time|render %}
          <span class="blog__data-item blog__modified">
            <span class="blog__modified-text">{{ 'Updated on'|trans }}</span> <span class="blog__modified-date">{{ content.field_displayed_update_time }}</span>
          </span>
        {% endif %}
        {% if content.field_reading_time|render %}
          <span class="blog__data-item blog__reading">
            {% trans %}
              {{ content.field_reading_time[0]['#markup'] }} min read
            {% endtrans %}
          </span>
        {% endif %}
      </div>

      <h3 class="blog-teaser__label">
        {{ label }}
      </h3>

      {% if content.field_ingress|render %}
        <p class="blog-teaser__lead">
          {{ content.field_ingress[0]['#text'] }}
        </p>
      {% endif %}

      {% if content.field_displayed_author|render %}
        <div class="blog-teaser__footer">
          <div class="blog-teaser__author author__list">
            {{ content.field_displayed_author }}
          </div>
        </div>
      {% endif %}
    </div>
  </a>
</article>
