{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'event',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="event__image">
    {{ content.field_event_image|render }}
  </div>
  <div class="event__content">
    {% if label %}
      {% embed "@suomidigi/content/page-title.html.twig" with {title: label} %}
      {% endembed %}
    {% endif %}

    <div class="event__header">
      {% if content.field_event_description|render %}
        <div class="event__header--primary">
          <div class="event__description">
            {{ content.field_event_description }}
          </div>
        </div>
      {% endif %}

      {% if
        content.field_event_date_and_time|render or
        content.field_venue_address|render or
        content.field_venue_name or
        content.field_event_link
      %}
        <div class="event__header--secondary">
          {% if content.field_event_date_and_time|render %}
            <div class="event__date">
              {% if icons_path %}
                <svg class="icon">
                  <title>{{ text }}</title>
                  <use xlink:href="{{ icons_path|trim }}#calendar"/>
                </svg>
              {% endif %}
              <div class="event__date--date">
                {{ content.field_event_date_and_time }}
              </div>
            </div>
          {% endif %}
          {% if content.field_venue_name|render %}
            <div class="event__venue-name">
              {% if icons_path %}
                <svg class="icon">
                  <title>{{ text }}</title>
                  <use xlink:href="{{ icons_path|trim }}#map-location"/>
                </svg>
              {% endif %}
              <div class="event__venue-name--wrapper">
                <h3>
                  {{ content.field_venue_name }}
                </h3>
                {% if content.field_venue_address|render %}
                  <div class="event__address">
                    {% set address = content.field_venue_address.0['#address_line1'] %}
                    {% set city = content.field_venue_address.0['#locality']['code'] %}
                    {% set country = content.field_venue_address.0['#country']['name'] %}
                    {{ [address, city, country]|join(', ') }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if content.field_event_link|render %}
            <div class="event__link">
              {% set link = content.field_event_link.0['#url'] %}
              {% set title = "Learn more about the event"|t %}
              {% include "@suomidigi/misc/link.twig" with {
                link_url: link,
                link_text: title,
                external: 1
              } %}
            </div>
          {% endif %}
          <div class="flag-wrapper flag--bottom">
            {{ flag_link }}
          </div>
        </div>
      {% endif %}

      {% if content.field_event_registration|render %}
        <div class="event__header--primary">
          <div class="event__registration">
            {% set link = content.field_event_registration.0['#url'] %}
            {% set title = 'Sign up for the event'|t %}
            {% include "@suomidigi/misc/link.twig" with {
              link_class: 'button',
              link_url: link,
              link_text: title,
              external: 1
            } %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="event__divider">
      {{ drupal_block('suopa_content_social_sharing_block') }}
    </div>

    {% if
      content.field_event_free_text|render or
      content.field_venue_description|render or
      content.field_event_org_contact_info|render or
      content.field_event_organiser|render or
      content.field_organiser_description|render or
      content.field_organiser_link|render
    %}
      {% set footer_class = 'has-border' %}
    {% endif %}
    <div class="event__footer {{ footer_class }}">
      {% if content.field_event_free_text|render %}
        <div class="event__footer--primary">
          <div class="event__free-text">
            {{ content.field_event_free_text }}
          </div>
        </div>
      {% endif %}

      {% if
        content.field_venue_description|render or
        content.field_event_org_contact_info|render
      %}
        <div class="event__footer--secondary">
          {% if content.field_venue_description|render %}
            <div class="event__venue-description">
              {{ content.field_venue_description }}
            </div>
          {% endif %}

          {% if content.field_event_org_contact_info|render %}
            <div class="event__contact-info">
              {{ content.field_event_org_contact_info }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if
        content.field_event_organiser|render or
        content.field_organiser_description|render or
        content.field_organiser_link|render
      %}
        <div class="event__organiser">
          <h3>{{ 'Organiser'|t }}</h3>

          {% if content.field_event_organiser|render %}
            <div class="event__organiser--name">
              {{ content.field_event_organiser }}
            </div>
          {% endif %}

          {% if content.field_organiser_description|render %}
            <div class="event__organiser--description">
              {{ content.field_organiser_description }}
            </div>
          {% endif %}

          {% if content.field_organiser_link|render %}
            <div class="event__link">
              {% set link = content.field_organiser_link.0['#url'] %}
              {% set title = "Learn more about the event organiser"|t %}
              {% include "@suomidigi/misc/link.twig" with {
                link_url: link,
                link_text: title,
                external: 1
              } %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
