{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'legislation-card',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="legislation-card__header">
    <div class="legislation-card__title">
      {{ label }}
      <svg aria-labelledby="legislation-attachment__icon" class="legislation-card__title--icon">
        <title id="legislation-attachment__icon">{{ 'Expand'|t }}</title>
        <use xlink:href="{{ icons_path|trim }}#chevron-down" />
      </svg>
    </div>
  </div>
  <div class="legislation-card__content-wrapper">
    {% if content.field_ingress|render %}
      <div class="legislation-card__ingress">
        {{ content.field_ingress }}
      </div>
    {% endif %}
    {% if content.field_legislation_content|render %}
      <div class="legislation-card__content">
        {{ content.field_legislation_content }}
      </div>
    {% endif %}
    {% if content.field_attachments|render %}
      <div class="legislation-card__attachments">
        {{ content.field_attachments }}
      </div>
    {% endif %}
    {% if content.field_legislation_materials|render %}
      <div class="legislation-card__support-attachments">
        {{ content.field_legislation_materials }}
      </div>
    {% endif %}
  </div>
</article>
