{#
/**
 * Available variables
 * - elements: array of element contains social media link.
 *
 */
#}
<div class="social-media-sharing">
  {%
    set classes = [
    'share'
    ]
  %}
  {% for element in elements %}
    {% if element.forward_dialog == 1 %}
      {% set classes = classes|merge(['use-ajax']) %}
      {% set dialogType = "data-dialog-type=dialog" %}
      {% set dialogOptions = "data-dialog-options=" ~ {'width': '600'}|json_encode %}
    {% endif %}
    <a {{ dialogType }} {{ dialogOptions }} {{ element.attr.target }} {{ element.attr.class.addClass(classes) }} {{ element.api }} title="{{ element.text }}">
      {% if icons_path %}
        <svg class="icon">
          <title>{{ element.text }}</title>
          <use xlink:href="{{ icons_path|trim }}#{{ element.img }}" />
        </svg>
      {% else %}
        {{ element.text }}
      {% endif %}
    </a>
  {% endfor %}
</div>

