{#
/**
 * @file
 * Theme override to display a taxonomy term.
 */
#}
{%
  set classes = [
  'taxonomy-term',
  'vocabulary-' ~ term.bundle|clean_class,
  ]
%}

<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {% if not page %}
    <a href="{{ url }}" class="theme-term__link {{ term_url_is_active ? 'is-active' }}" title="{{ name[0]['#context']['value'] }}">
      <div class="theme-term__title">
        {% if icons_path %}
          <svg class="icon icon--chevron">
            <title>{{ name }}</title>
            <use xlink:href="{{ icons_path|trim }}#chevron-down" />
          </svg>
        {% endif %}
        {{ name }}
      </div>
    </a>
  {% endif %}
</div>
