{#
/**
 * @file
 * Theme override for main view template.
 */
#}
{%
  set classes = [
    'views',
    'views--' ~ id|clean_class,
    'views--' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'listing--grid',
  ]
%}
<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  <h2 class="search-result-information">
    {% trans %}
      Found {{ searchResultCount }} hit for "{{ searchInputValue }}"
    {% plural searchResultCount %}
      Found {{ searchResultCount }} hits for "{{ searchInputValue }}"
    {% endtrans %}
  </h2>

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ rows }}

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
