{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {% set media = content.field_hero_background_image.0 %}
  {% set title = content.field_hero_title.0 %}
  {% set link = content.field_hero_link.0['#url'] %}
  {% set text = content.field_hero_link.0['#title'] %}
  {% set description = content.field_hero_description.0 %}
  {% set link_classes = [
    'paragraph__hero-link',
    'link--cta',
  ] %}
  {% set classes = classes|merge(['paragraph--hero']) %}

  <div{{attributes.addClass(classes)}} style="background-image: url({{ hero_background_image }})">
    {% block content %}
      <div class="paragraph__content-wrapper">
        <div class="paragraph__content">
          {% if title|render %}
            <h1 class="paragraph__title">
              {{ title }}
            </h1>
          {% endif %}

          {% if description|render %}
            <p class="paragraph__description">
              {{ description }}
            </p>
          {% endif %}

          {% if link and text %}
            <div class="paragraph__link">
              {% if icons_path %}
                <svg class="icon">
                  <title>{{ title }}</title>
                  <use xlink:href="{{ icons_path|trim }}#chevron-right"/>
                </svg>
              {% endif %}
              <a href="{{ link }}" title="{{ text }}" class="{{ link_classes|join(' ') }}">{{ text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
