{% extends "paragraph.html.twig" %}

{% set title = content.field_banner_title %}
{% set text_align = content.field_banner_text_align.0['#markup'] %}
{% set link = content.field_banner_link.0['#url'] %}
{% set text = content.field_banner_link.0['#title'] %}
{% set link_classes = [
  'paragraph--banner-cta',
] %}

{% block content %}
  <a href="{{ link }}" title="{{ text }}" class="{{ link_classes|join(' ') }}">
    <div class="paragraph__content-wrapper">
      <div class="paragraph__title">{{ content.field_banner_title|render }}</div>
      <div class="paragraph__description">{{ content.field_p_description|render }}</div>
    </div>
    <div class="paragraph__button">{{ text }}</div>
  </a>
{% endblock %}
