
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
  ]
%}

{% block paragraph %}
  {% set link = content.field_p_link.0['#url'] %}
  {% set text = content.field_p_link.0['#title'] %}

  <div{{ attributes.addClass(classes) }}>
    {% if content.field_p_title|render %}
      <h2 class="paragraph__title">
        {{ content.field_p_title }}
      </h2>
    {% endif %}
    {% if content.field_p_description|render %}
      <div class="paragraph__description">
        {{ content.field_p_description }}
        {% if link and text %}
          <div class="button-wrapper">
            <a href="{{ link }}" class="button--cta button--cta-alternative" title="{{ text }}">
              {{ text }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% block content %}
      {{ content|without('field_p_title','field_p_link', 'field_p_description') }}
    {% endblock %}

    {% if not content.field_p_description|render and link and text %}
      <div class="paragraph__link">
        {% include "@suomidigi/misc/link.twig" with {
          link_url: link,
          link_text: text
        } %}
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}
