<div class="contact-information">
  {% if name %}
    <div class="name">{{ name }}</div>
  {% endif %}
  {% if email %}
    <div class="email"><label>{{ 'Email'|t }}:</label>{{ email }}</div>
  {% endif %}
  {% if phone_number %}
    <div class="phone-number"><label>{{ 'Phone number'|t }}:</label>{{ phone_number }}</div>
  {% endif %}
</div>
