{#
/**
 * @file
 * Theme override for comment fields.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'comment-wrapper',
  ]
%}
{%
  set title_classes = [
    'title',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <h3 class="title comment-form__title">{{ 'Add new comment'|t }}</h3>
    {{ comment_form }}
  {% endif %}

</section>
