{#
/**
 * @file
 * Theme override for a field.
 */
#}

<div{{ attributes }}>
  <div class="label__container">
    {% if icons_path %}
      <svg class="icon">
        <use xlink:href="{{ icons_path|trim }}#legal-scale" />
      </svg>
    {% endif %}
    <div{{ title_attributes.addClass('legislation-card__label') }}>{{ label }}</div>
  </div>
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item legislation-card__indent') }}>{{ item.content }}</div>
  {% endfor %}
</div>
