<div class="link--cta {{ link_class }}">
  {% if icons_path %}
    <div class="link--cta-icon-left">
      <svg class="icon">
        <title>{{ text }}</title>
        <use xlink:href="{{ icons_path|trim }}#chevron-right"/>
      </svg>
    </div>
  {% endif %}
  <div class="link--cta-content-right">
    <span class="link--cta-text">
      {{ link_text }}
    </span>
      {% if icons_path and external %}
        <span class="link--cta-icon-right">
          <svg class="icon">
            <title>{{ text }}</title>
            <use xlink:href="{{ icons_path|trim }}#link-external"/>
          </svg>
        </span>
      {% endif %}
  </div>
</div>
